In [1]:
import pandas as pd

from sklearn.datasets import fetch_california_housing
from sklearn.feature_selection import SelectKBest, SelectPercentile, f_regression, mutual_info_regression, GenericUnivariateSelect

In [2]:
data = fetch_california_housing()
data

{'data': array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
           37.88      , -122.23      ],
        [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
           37.86      , -122.22      ],
        [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
           37.85      , -122.24      ],
        ...,
        [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
           39.43      , -121.22      ],
        [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
           39.43      , -121.32      ],
        [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
           39.37      , -121.24      ]]),
 'target': array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894]),
 'frame': None,
 'target_names': ['MedHouseVal'],
 'feature_names': ['MedInc',
  'HouseAge',
  'AveRooms',
  'AveBedrms',
  'Population',
  'AveOccup',
  'Latitude',
  'Longitude'],
 'DESCR': '.. _california_housing_dataset:\n\nCalifornia Housing dataset\n--------------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 20640\n\n    :Number of Attributes: 8 numeric, predictive attributes and the target\n\n    :Attribute Information:\n        - MedInc        median income in block group\n        - HouseAge      median house age in block group\n        - AveRooms      average number of rooms per household\n        - AveBedrms     average number of bedrooms per household\n        - Population    block group population\n        - AveOccup      average number of household members\n        - Latitude      block group latitude\n        - Longitude     block group longitude\n\n    :Missing Attribute Values: None\n\nThis dataset was obtained from the StatLib repository.\nhttps://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html\n\nThe target variable is the median house value for California districts,\nexpressed in hundreds of thousands of dollars ($100,000).\n\nThis dataset was derived from the 1990 U.S. census, using one row per census\nblock group. A block group is the smallest geographical unit for which the U.S.\nCensus Bureau publishes sample data (a block group typically has a population\nof 600 to 3,000 people).\n\nA household is a group of people residing within a home. Since the average\nnumber of rooms and bedrooms in this dataset are provided per household, these\ncolumns may take surprisingly large values for block groups with few households\nand many empty houses, such as vacation resorts.\n\nIt can be downloaded/loaded using the\n:func:`sklearn.datasets.fetch_california_housing` function.\n\n.. topic:: References\n\n    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,\n      Statistics and Probability Letters, 33 (1997) 291-297\n'}

In [3]:
data.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'feature_names', 'DESCR'])

In [4]:
df = pd.DataFrame(

    data=data['data'],
    columns=data['feature_names']
)
df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25
...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24

In [5]:
df = df.join(
    pd.DataFrame(
        data=data['target'],
        columns=data['target_names']
    )
)
df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MedInc       20640 non-null  float64
 1   HouseAge     20640 non-null  float64
 2   AveRooms     20640 non-null  float64
 3   AveBedrms    20640 non-null  float64
 4   Population   20640 non-null  float64
 5   AveOccup     20640 non-null  float64
 6   Latitude     20640 non-null  float64
 7   Longitude    20640 non-null  float64
 8   MedHouseVal  20640 non-null  float64
dtypes: float64(9)
memory usage: 1.4 MB

In [7]:
X_california = df.drop('MedHouseVal', axis=1).iloc[:2000]
y_california = df['MedHouseVal'].iloc[:2000]

In [8]:
print(X_california.shape)
print(y_california.shape)

(2000, 8)
(2000,)

In [9]:
selector = SelectKBest(score_func=f_regression, k=3)

In [10]:
X_california_new = selector.fit_transform(X_california, y_california)
X_california_new

array([[   8.3252,   37.88  , -122.23  ],
       [   8.3014,   37.86  , -122.22  ],
       [   7.2574,   37.85  , -122.24  ],
       ...,
       [   1.7829,   36.73  , -119.77  ],
       [   1.5227,   36.75  , -119.77  ],
       [   1.5547,   36.74  , -119.77  ]])

In [11]:
X_california_new.shape

(2000, 3)

In [12]:
print("Selected features indices:", selector.get_support(indices=True))
print("Selected features names:", selector.get_feature_names_out())

Selected features indices: [0 6 7]
Selected features names: ['MedInc' 'Latitude' 'Longitude']

In [13]:
selector = SelectKBest(score_func=mutual_info_regression, k=3)

X_california_new = selector.fit_transform(X_california, y_california)

print(X_california_new.shape)
print("Selected features indices:", selector.get_support(indices=True))
print("Selected features names:", selector.get_feature_names_out())

(2000, 3)
Selected features indices: [0 6 7]
Selected features names: ['MedInc' 'Latitude' 'Longitude']

In [14]:
selector = SelectPercentile(score_func=f_regression, percentile=30)

X_california_new = selector.fit_transform(X_california, y_california)

print(X_california_new.shape)
print("Selected features indices:", selector.get_support(indices=True))
print("Selected features names:", selector.get_feature_names_out())

(2000, 3)
Selected features indices: [0 6 7]
Selected features names: ['MedInc' 'Latitude' 'Longitude']

In [15]:
selector = SelectPercentile(score_func=mutual_info_regression, percentile=30)

X_california_new = selector.fit_transform(X_california, y_california)

print(X_california_new.shape)
print("Selected features indices:", selector.get_support(indices=True))
print("Selected features names:", selector.get_feature_names_out())

(2000, 3)
Selected features indices: [0 6 7]
Selected features names: ['MedInc' 'Latitude' 'Longitude']

In [16]:
selector = GenericUnivariateSelect(score_func=f_regression, mode='k_best', param=3)

X_california_new = selector.fit_transform(X_california, y_california)

print(X_california_new.shape)
print("Selected features indices:", selector.get_support(indices=True))
print("Selected features names:", selector.get_feature_names_out())

(2000, 3)
Selected features indices: [0 6 7]
Selected features names: ['MedInc' 'Latitude' 'Longitude']

In [17]:
selector = GenericUnivariateSelect(score_func=mutual_info_regression, mode='k_best', param=3)

X_california_new = selector.fit_transform(X_california, y_california)

print(X_california_new.shape)
print("Selected features indices:", selector.get_support(indices=True))
print("Selected features names:", selector.get_feature_names_out())

(2000, 3)
Selected features indices: [0 6 7]
Selected features names: ['MedInc' 'Latitude' 'Longitude']